<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>All users</title>

    <style>
        .someDiv {
            margin-top: 0.42%;
            margin-left: 1.4%
        }

        .anotherDiv {
            margin-top: -2.3%;
            margin-left: 95%
        }

        .col-lg-2 {
            margin-top: 1%;
        }

        .oneMoreDiv {
            margin-top: 1.5%;
            margin-left: 0.25%
        }

        .transparentPassword {
            color: transparent;
        }

        .button {
            margin-left: 43%
        }
    </style>

</head>
<body>

<div class="container-fluid">
    <div class="row bg-dark text-white">
        <div class="someDiv">
            <p>
                <span th:text="${chosenUser.email}"></span>
                with roles:
                <span th:text="${chosenUser.roles}"></span>
            </p>
        </div>

        <div class="anotherDiv" heruggu>
            <form th:action="@{/logout}" th:method="POST">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="bg-primary">
                <form th:action="@{/admin}">
                    <button class="btn btn-primary btn-block" type="submit">Admin</button>
                </form>
            </div>

            <div class="someDiv"></div>

            <div>
                <form th:action="@{/user}">
                    <button class="btn btn-outline-primary btn-block" type="submit">User</button>
                </form>
            </div>
        </div>

        <div class="col-lg-9 bg-light">
            <div class="tab-pane fade show active">
                <h1>Admin panel</h1>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="tab-users" data-bs-toggle="tab" data-bs-target="#users"
                            type="button" role="tab" aria-selected="true" aria-controls="users">Users table
                    </button>
                    <button class="nav-link" id="tab-new-user" data-bs-toggle="tab" data-bs-target="#new-user"
                            type="button" role="tab" aria-selected="false" aria-controls="new_user">New user
                    </button>
                </div>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="users" aria-labelledby="tab-users" role="tabpanel">
                    <div class="oneMoreDiv">
                        <table class="table table-bordered">
                            <tr>
                                <h4>All users</h4>
                            </tr>
                        </table>
                    </div>
                    <table class="table bg-white table-striped">
                        <thead class="thead">
                        <tr class="table-light font-weight-bold">
                            <th>ID</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="usersTable"></tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="new-user" aria-labelledby="tab-new-user" role="tabpanel">

                    <div class="oneMoreDiv">
                        <table class="table table-bordered">
                            <tr>
                                <h4>Add new user</h4>
                            </tr>
                        </table>
                    </div>

                    <table class="table bg-white table-striped">
                        <form th:method="POST" action="/api/users" id="createForm">

                            <div class="text-center font-weight-bold"><label class="bold">Username</label></div>
                            <div class="form justify-content-center row">
                                <label class="form-label" for="username"></label>
                                <input type="text" class="form-control w-25" name="username" id="username"
                                       placeholder="Username" required/>
                            </div>
                            <br>

                            <div class="text-center font-weight-bold"><label class="bold">Name</label></div>
                            <div class="form justify-content-center row">
                                <label class="form-label" for="name"></label>
                                <input type="text" class="form-control w-25" th:color="yellow" name="name" id="name"
                                       placeholder="Name" required/>
                            </div>
                            <br>

                            <div class="text-center font-weight-bold"><label class="bold">Surname</label></div>
                            <div class="form justify-content-center row">
                                <label class="form-label" for="surname"></label>
                                <input type="text" class="form-control w-25" name="surname"
                                       id="surname" placeholder="Surname" required/>
                            </div>
                            <br>

                            <div class="text-center font-weight-bold"><label class="bold">Email</label></div>
                            <div class="form justify-content-center row">
                                <label class="form-label" for="email"></label>
                                <input type="email" class="form-control w-25" name="email"
                                       id="email" placeholder="Email" required/>
                            </div>
                            <br>

                            <div class="text-center font-weight-bold"><label class="bold">Password</label></div>
                            <div class="form justify-content-center row">
                                <label class="form-label" for="password"></label>
                                <input type="password" class="form-control w-25" name="password"
                                       id="password" placeholder="Password" required/>
                            </div>
                            <br>

                            <div class="text-center font-weight-bold"><label for="roles" class="bold">Roles</label>
                            </div>
                            <div class="justify-content-center row">
                                <select multiple class="form-control w-25" id="roles" name="roles" size="2" required>
                                    <option th:each="role: ${roleList}"
                                            th:value="${role.name}"
                                            th:text="${role}">
                                    </option>
                                </select>
                            </div>
                            <br>

                            <div class="button">
                                <button type="submit" class="btn btn-success btn-lg btn-block w-25">Add user</button>
                            </div>

                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->

<div class="modal fade" id="modalFrame" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="title" id="title">#ModalTitle</h5>
                <button type="button" class="btn-close" id="close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center fw-bold">
                <form id="modalsForm">

                    <div class="text-center font-weight-bold"><label class="bold">ID</label></div>
                    <div class="form justify-content-center row">
                        <label class="form-label" for="modal-id"></label>
                        <input class="form-control w-50" type="text" name="id" id="modal-id" readonly>
                    </div>
                    <br>

                    <div class="text-center font-weight-bold"><label class="bold">Username</label></div>
                    <div class="form justify-content-center row">
                        <label class="form-label" for="modal-username"></label>
                        <input class="form-control w-50" type="text" name="username" id="modal-username" required/>
                    </div>
                    <br>

                    <div class="text-center font-weight-bold"><label class="bold">Name</label></div>
                    <div class="form justify-content-center row">
                        <label class="form-label" for="modal-name"></label>
                        <input class="form-control w-50" type="text" name="name" id="modal-name" required/>
                    </div>
                    <br>

                    <div class="text-center font-weight-bold"><label class="bold">Surname</label></div>
                    <div class="form justify-content-center row">
                        <label class="form-label" for="modal-surname"></label>
                        <input class="form-control w-50" type="text" name="surname" id="modal-surname" required/>
                    </div>
                    <br>

                    <div class="text-center font-weight-bold"><label class="bold">Email</label></div>
                    <div class="form justify-content-center row">
                        <label class="form-label" for="modal-email"></label>
                        <input class="form-control w-50" type="text" name="email" id="modal-email" required>
                    </div>
                    <br>

                    <div class="text-center font-weight-bold"><label class="bold">Password</label></div>
                    <div class="form justify-content-center row">
                        <label class="form-label" for="modal-password"></label>
                        <input class="form-control w-50 transparentPassword" type="password" name="password" id="modal-password" required>
                    </div>
                    <br>

                    <div class="text-center font-weight-bold"><label class="bold">Roles</label></div>
                    <div class="form justify-content-center row">
                        <label class="container-fluid" th:for="roles">
                            <select class="form-control w-100" name="roles" multiple size="2">
                                <option th:each="role: ${roleList}"
                                        th:value="${role.name}"
                                        th:text="${role}">
                                </option>
                            </select>
                        </label>
                    </div>
                    <br>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="modalsForm" id="submit"></button>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/users.js}"></script>
<script th:src="@{/js/create.js}"></script>
<script th:src="@{/js/modals.js}"></script>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>